*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.bg-forestGreen{
	background: #455954;
}

.bg-bluem{
	background-color: #d0d1d3  ;
}

.bg-cream{
	background-color: #e2e0d4  ;
}

.bg-cloud{
	background-color: #e1dad2   ;
}

.bg-jean{
	background-color: #5e7783 ;
}

.nav-image{
  width: 50px;
  height: 50px;
  border: 0px solid blue;

}

.nav-text{
	font-weight: bold;
}

.bg-linen{
	background-color: #dfdbd8;
	background: url(https://wallpaperaccess.com/full/358800.jpg);


	
}

.aboutme-container{
	height: 95vh;

}

#navBar{
	position: sticky;
	top: 0;
	z-index: 1;
}

.footer-height{
	height: 10vh;
}

.profile-image{
	width: 422px;
  height: 422px;
}


.bg-gray-opacity-50{
	background-color: rgba(195, 199, 198, 0.5);
}


.text-color-dark{
	color: black;
}

#landing{
	margin-bottom: 220px;
}

#tools{
	padding-top: 50px;
}
